@font-face {
    font-family: 'kanit';
    src: url('Kanit-SemiBold.ttf');
}


::-webkit-scrollbar{
    display: none;
}

body,html{
    overflow-x: hidden;
    font-family: kanit;
    background-color: rgb(0, 0, 0);
}

.img-holder{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    clip-path: polygon(30% 40%, 70% 40%, 70% 60%, 30% 60%);
    transform: rotate(30deg);
}

.img-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transform: scale(1.5);
}

.pxs{
    position: relative;
    right: -100%;
    text-align: end;
    font-size: 23vw;
    color: white;
}

.textopt{
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    justify-content: center;
    z-index: 100;
    display: flex;
    margin: 0;
    padding: 0;
}

.textopt div{
    display: flex;
    margin: 0;
    padding: 0;
}

.textopt p{
    font-size: 15vw;
    position: relative;
    color: aliceblue;
    margin: 0;
    padding: 0;
}